*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: #222;
}

.card {
    width: 100%;
    max-width: 530px;
    background: linear-gradient(135deg, rgba(133,39,132,1) 13%, rgba(27,125,221,1) 61%, rgba(0,212,255,1) 100%);
    color: #fff; 
    margin: 100px auto 0;
    border-radius: 20px 20px 0px 0px;
    padding: 40px 15px;
}

.search {
    width: 100%;
    max-width: 500px;
    position: relative;
    display: inline-block;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    flex: 2;
    padding-right: 16px;
    font-size: 1rem;
}

.search button {
    position: absolute;
    border: 0;
    outline: 0;
    top: 0;
    right: 0;
    background: #ebfffc;
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    height: 20px;
}

button:hover {
    opacity: 0.5;
}

.weather {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    max-width: 170px;
    max-height: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 5rem;
    font-weight: 500;
}

.weather h2 {
    font-size: 2.81rem;
    font-weight: 400;
    margin-top: -10px;
}

.weather-text {
    font-size: 1.4rem;
}

.details {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

p.wind, p.humidity {
    font-weight: 700;
}

.city {
    text-align: center;
    font-size: 1.4rem;
}

@media (min-width: 428px) {
    .card {
        border-radius: 20px;
    }
}

@media (max-width: 375px) {
    .card {
        width: 375px;
    }
}
